.popular-currencies-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);

    & > div {
        padding: 1rem;
        border: solid 1px rgb(208, 215, 222);
        background-color: rgb(246, 248, 250);
        border-radius: 0.25rem;
    }
}

@media screen and (max-width: 960px) {
    .popular-currencies-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}