<main>

    <app-header></app-header>

    <section class="title-section">
        <h1>{{title}}</h1>
        <button class="primary-button" (click)="goHome()">
            Back to home
        </button>
    </section>

    <app-convertion-form
        [currencyFrom]="currencyFrom"
        [(currencyTo)]="currencyTo"
    ></app-convertion-form>

    <section>
        <app-historical-chart
            [currencyBase]="currencyFrom"
            [currencySymbol]="currencyTo"
        ></app-historical-chart>
    </section>

</main>

