<section class="from-to-section">
    <form [formGroup]="conversionForm" (ngSubmit)="convert()">
        <div>
            <label>
                <span>Amount</span>
                <input type="number" formControlName="amount">
            </label>
        </div>
        <div class="from-to-form">
            <div class="from-to-form-inputs">
                <label>
                    <span>From</span>
                    <select formControlName="from">
                        <option></option>
                        <option *ngFor="let currency of currencies" [value]="currency.code">{{currency.code}}</option>
                    </select>
                </label>
                <button class="swap-button" type="button" (click)="swapCurrencies()" [disabled]="isSwapDisabled() || !enableButtons">
                    <img src="assets/images/swap-icon.png" />
                </button>
                <label>
                    <span>To</span>
                    <select formControlName="to">
                        <option></option>
                        <option *ngFor="let currency of currencies" [value]="currency.code">{{currency.code}}</option>
                    </select>
                </label>
            </div>
            <button class="primary-button from-to-form-button" type="submit" [disabled]="!enableButtons">
                Convert {{currencyTo}}
            </button>
            <div class="from-to-form-result">
                <div class="">
                    {{ (result?.amount || 0.00) | number: '1.2-2' }} {{result?.currency}}
                </div>
                <button type="button" class="primary-button" *ngIf="showDetailsButton" (click)="goToDetails()" [disabled]="!enableButtons">
                    More details
                </button>
            </div>
        </div>
    </form>
</section>